{% extends "base.html" %}
 
{% block content %}
		<center>
		<h1>Кто мы?</h1>
		<div>Мы команда независимых разработчиков, которая создает игры</div>
		<div>Дата создания команды: октябрь 2018</div>
		<h1>Состав команды:</h1>
			<div><a href="https://vk.com/id484621166">Артем Ступин</a> - Гл.Руководитель, программист, пиксель-арт художник, 3D-моделлер</div>
			<div><a href="https://vk.com/scherb1na">Матвей Щербина</a> - Программист</div>
			<div><a href="https://vk.com/mr.tntshka">Ярослав Быховский</a> - Программист, дизайнер</div>
			<div><a href="https://vk.com/lososalex">Алексей Коновалов</a> - Зам. руководителя, программист, пиксель-арт художник</div>
			<div><a href="https://vk.com/andryhv">Андрей Виноградов</a> - Web-разработчик</div>
			<div><a href="https://vk.com/4dm1n1337">Кирилл Васик</a> - Дизайнер</div>
			<div><a href="https://vk.com/justshortnameofgreatperson">Илья Алексеев</a> - Сценарист</div>
			<div><a href="https://vk.com/id516254208">Артем Кузнецов</a> - Программист, композитор, сценарист</div>
			<div><a href="https://vk.com/nonna_nai_nya">Диана Овчинникова</a> - Художник</div>
		</center>
{% endblock %}