{% extends "base.html" %}
 
{% block content %}
		<div style="max-width: 100%">
		<img src="static/img/CTK_banner.jpg" alt="">
		</div>
		<div style="padding: 20px; size: 20px">
			<h2 align="center">
				<b>Catch The Key</b><br>	
			</h2>
		</div>
		<div class="row" style="padding: 20px">
			<div class="col">
				<h2>Ссылки</h2>
				<p>
					<a href="https://vk.com/catchkeygbs">Вконтакте</a><br>
				</p>
			</div>
			<div class="col">
				<h2>Разработчики</h2>
				<p><a href="https://vk.com/justshortnameofgreatperson">Матвей Щербина</a></p>
				<p><a href="https://vk.com/id484621166">Артём Ступин</a></p>
				<p><a href="vk.com/lososalex">Алексей Коновалов</a></p>
				<p><a href="https://vk.com/nonna_nai_nya">Диана Овчинникова</a></p>
				<p><a href="https://vk.com/id516254208">Артём Кузнецов</a></p>
				<p><a href="https://vk.com/4dm1n1337">Кирилл Васик</a></p>
			</div>
		</div>
		<div style="padding: 20px">
			{% if session['permission'] == 'admin' %}
				<div><a href="/add_news">Добавить новость</a></div>
			{% endif %}
			<h2><b>Новости об игре</b></h2>
			{% for item in news %}
				<div class="alert alert-dark" role="alert">
					<h2>{{item[2]}}</h2>
					{% if item[4] != 'None' %}
						<img src="/static/img/news/{{item[4]}}" alt="">
					{% endif %}
					<div>{{item[3]}}</div>
					<a href="/news/{{item[0]}}">Посмотреть поближе</a>
					{% if session['permission'] == 'admin' %}
						<a href="/delete_news/{{item[0]}}">Удалить новость</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
{% endblock %}