{% extends "base.html" %}
 
{% block content %}
		<div class="container">
			<center>
			<h1>Наши проекты</h1>
			<div class="row">
				<div class="col">
					<center>
					<a href="/Catch_The_Key"><h1>Catch the key</h1></a>
					<img src="/static/img/CTK.png" alt="" width="250" height="250">
					</center>
				</div>
				<div class="col">
					<center>
					<a href="/Game_in_One_Level"><h1>Game in one level</h1></a>
					<img src="static/img/GiOL.png" alt="" width="250" height="250">
					</center>
				</div>
				<div class="col">
					<center>
					<a href="/The_Mountain"><h1>The Mountain</h1></a>
					<img src="static/img/Mountain.png" alt="" width="250" height="250">
					</center>
				</div>
			</div>
			</center>
		</div>
{% endblock %}